{% extends "base.html" %}

{% block content %}
  <h1>{{ bav.name }}</h1>

  <h2>Methodes de paiement</h2>
  <table class="table">
    <thead>
      <tr>
        <th scope="col">Methode</th>
        <th scope="col">Nombre de ventes</th>
        <th scope="col">Montant total</th>
      </tr>
    </thead>
    <tbody>
      {% for payment in payment_methods %}
        <tr>
          <td>{{ payment.payment_method }}</td>
          <td>{{ payment.count }}</td>
          <td>{{ payment.sum }}</td>
        </tr>
      {% endfor %}
    </tbody>
  </table>

  <h2>Vendeur</h2>
  <table class="table">
    <thead>
      <tr>
        <th scope="col"></th>
        <th scope="col">Vendeur</th>
        <th scope="col">Nombre de vente</th>
        <th scope="col">Articles</th>
        <th scope="col">Montant total</th>
        <th scope="col">Gain</th>
      </tr>
    </thead>
    <tbody>
      {% for seller in sellers %}
        <tr>
          <td>{{ seller.slug }}</td>
          <td>
            <span class="position-relative">
              {{ seller.firstname }} {{ seller.lastname }}
              {% if seller.is_adherent %}
                <span class="position-absolute top-0 start-100 translate-middle badge rounded-pill bg-secondary">Adh</span>
              {% elif seller.is_board_member %}
                <span class="badge bg-primary">CA</span>
              {% endif %}
            </span>
          </td>
          <td>{{ seller.items.count }}</td>
          <td>
            {% for item in seller.items %}
              <span class="badge rounded-pill bg-light text-dark">{{ item.article_id }}</span> 
            {% endfor %}
          </td>
          <td>{{ seller.amount|floatformat:2 }}</td>
          <td>{{ seller.profit|floatformat:2 }}</td>
        </tr>
      {% endfor %}
    </tbody>
  </table>
{% endblock %}
