{% extends "base.html" %}

{% block content %}
  <ul class="list-group">
    {% for bav in object_list %}
      <li class="list-group-item">
        <div class="row">
          <div class="col d-flex align-items-center">
              {{ bav.name }}
          </div>
          <div class="col-md-auto d-flex align-items-center">
            <div class="btn-group btn-group-sm float-end" role="group">
              <a href="{% url "bav:sell" bav.id %}" class="btn btn-outline-primary">Vendre</a>
              <a href="{% url "bav:bav_pay" bav.id %}" class="btn btn-outline-primary">Payer</a>
              <a href="{% url "stats:index" bav.id %}" class="btn btn-outline-primary">Resultat</a>
            </div>
          </div>
        </div>
      </li>
    {% endfor %}
  </ul>
{% endblock %}
