{% extends "base.html" %}

{% block content %}
  <ul class="list-group">
    {% for sale in sales %}
      <li class="list-group-item">
        <div class="row">
          <div class="col d-flex align-items-center">
              {{ sale.client }}
          </div>
          <div class="col-md-auto d-flex align-items-center">
            <div class="btn-group btn-group-sm float-end" role="group">
              <a href="{% url "bav:pay" sale.id %}" class="btn btn-outline-primary">Payer</a>
            </div>
          </div>
        </div>
      </li>
    {% endfor %}
  </ul>
{% endblock %}
