{% extends "base.html" %}

{% block content %}
  <form action="{% url 'bav:pay' sale.id %}" method="post" class="form">
    {% csrf_token %}

    {% for hidden in form.hidden_fields %}
      {{ hidden }}
    {% endfor %}

    <div class="card">
      <div class="card-body">
        <div class="mb-3">
          {{ form.payment_method.errors }}
          <label for="{{ form.payment_method.id_for_label }}" class="form-label">Paiement method:</label>
          {{ form.payment_method }}
        </div>
        <div class="mb-3"> 
          <input type="submit" class="btn btn-primary" value="Payer" />
        </div>
      </div>
    </div>
  </form>
{% endblock %}
