{% extends "base.html" %}

{% block content %}
  <div class="card">
    <div class="card-body">
      <div class="card-title">
        <h1>{{ object.bav.name }} / {{ object.client }}</h1>
      </div>

      <ul class="list-group list-group-flush">
        <li class="list-group-item">BAV ID: {{ object.bav.id }}</li>
        <li class="list-group-item">{{ object.date }}</li>
        <li class="list-group-item">Adherent: {{ object.is_adherent }}</li>
        <li class="list-group-item">Membre du CA: {{ object.is_board_member }}</li>
        <li class="list-group-item">Paiement methode: {{ object.payment_method }}</li>
      </ul>
    </div>
  </div>

  <hr />

  <table class="table">
    <thead>
      <tr>
        <th scope="col">Vendeur</th>
        <th scope="col">Prix</th>
        <th scope="col">Article ID</th>
      </tr>
    </thead>
    <tbody>
      {% for item in object.saleitem_set.all %}
        <tr>
          <td>{{ item.seller.firstname }} {{ item.seller.lastname }}</td>
          <td>{{ item.price }}</td>
          <td>{{ item.article_id }}</td>
        </tr>
      {% endfor %}
    </tbody>
  </table>

  <hr />

  <p>
    <a href="{% url "bav:sell" object.bav.id %}" class="btn btn-primary">Nouvelle vente</a>
  </p>
{% endblock %}
