{% extends "base.html" %}

{% block content %}
  <form action="{% url 'bav:sell' bav.id %}" method="post" class="form">
    {% csrf_token %}

    {% for hidden in form.hidden_fields %}
      {{ hidden }}
    {% endfor %}


    <div class="card">
      <div class="card-body">
        <h5 class="card-title">Informations sur la vente</h5>
        <div class="row justify-content-md-center">
          <div class="col">
            {{ form.client.errors }}
            <label for="{{ form.client.id_for_label }}" class="form-label">Client:</label>
            {{ form.client }}
          </div>
          <div class="col-md-auto d-flex align-items-center">
            <input type="submit" class="btn btn-primary" value="Vendre" />
          </div>
        </div>
        <div class="row">
          <div class="col">
            <div class="form-check form-check-inline">
              {{ form.is_adherent.errors }}
              <label for="{{ form.is_adherent.id_for_label }}" class="form-check-label">Adherent:</label>
              {{ form.is_adherent }}
            </div>
            <div class="form-check form-check-inline">
              {{ form.is_board_member.errors }}
              <label for="{{ form.is_board_member.id_for_label }}" class="form-check-label">Membre du CA:</label>
              {{ form.is_board_member }}
            </div>
          </div>
        </div>
      </div>
    </div>

    <hr />

    {{ formset.management_form }}
    {% for hidden in formset.hidden_fields %}
      {{ hidden }}
    {% endfor %}

    {% for article in formset %}
      <div class="row">
        {% for hidden in article.hidden_fields %}
          {{ hidden }}
        {% endfor %}

        <div class="col">
          {{ article.seller.errors }}
          <label for="{{ article.seller.id_for_label }}" class="form-label">Vendeur:</label>
          {{ article.seller }}
        </div>
        <div class="col">
          {{ article.price.errors }}
          <label for="{{ article.price.id_for_label }}" class="form-label">Prix:</label>
          {{ article.price }}
        </div>
        <div class="col">
          {{ article.article_id.errors }}
          <label for="{{ article.article_id.id_for_label }}" class="form-label">Article ID:</label>
          {{ article.article_id }}
        </div>
      </div>
    {% endfor %}
  </form>
{% endblock %}
